@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<hr />
<h4>BSA 16 .NET - ASP.Net MVC:</h4>
<pre>
Создать сайт прогноза погоды.
В качестве источника данных использовать сторонний сервис OpenWeatherMap. (API<a href="http://www.openweathermap.com/api">API</a>).

Пример запроса для получения прогноза на неделю: <a href="url">http//api.openweathermap.org/data/2.5/forecast/daily?q={city}&units=metric&APPID={APIKEY}</a>  (Для получения собственного APIKEY достаточно бесплатно зарегистрироваться на сайте сервиса)

Разрабатываемый сайт должен соответствовать следующим основным критериям:
Пользователь должен иметь возможность выбрать город из имеющегося списка предустановленных городов: Киев, Львов, Харьков, Днепропетровск, Одесса;
Пользователь должен иметь возможность получить прогноз погоды в любом произвольном городе;
Пользователь должен иметь возможность просматривать прогноз на сегодняшний день, на три дня и на ближайшие 7 дней;
Рекомендации:
  для работы с JSON рекомендуется использовать пакет NewtoneJSON из Nuget'a;
  для автогенерации классов C# по имеющимуся JSON-объекту можно использовать сервис <a href="url">http://json2csharp.com/</a>
  не лишним будет использовать инфографику для наглядного отображения прогноза погоды, для поиска иконок можно воспользоваться сервисом <a href="url">https://www.iconfinder.com/</a></pre>
<hr />