@{
    ViewBag.Title = "Contact";
}
<hr />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Kiev,<br />
    Ukraine<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ilusha.myatka@gmail.com">ilusha.myatka@gmail.com</a><br />
</address>