@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background: url(http://iwallhd.com/stock/paper-yellow-origami-colours-background-wallpaper-hd-quality.jpg);">

    <h1>My WebApp ASP.NET</h1>
    <h3>HomeWork:</h3>
    <li>@Html.ActionLink("BSA 16 .NET - ASP.Net MVC;", "Index", "Weather")</li>
    <li>@Html.ActionLink("Inversion of Control. Dependecy Injection;", "Index", "Weather")</li>
    <li>@Html.ActionLink("BSA 16 .NET - Entity Framework 6.0;", "Index", "Weather")</li>
    
</div>